@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root{
  --blue: #2563eb;
  --blue2: #3b82f6;
  --gray: #d1d5db;
  --gray2: #6b7280;
  --white: #f3f4f6;
  --white2: #fafaf9;
  --yellow: #eab308;
  --black: #09090b;
}

body{
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--gray);
}

/*SIDE-BAR*/

.side-bar{
  padding: 10px 70px 0px 16px;
  background-color: var(--blue2);
}

.logo-row{
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.color{
  filter: brightness(0) invert(1);
}

h1{
  margin: 0;
  color: var(--white); 
  font-size: 24px;
}

.m-28{
  margin-right: 28px;
}

.icon{
  width: 24px;
  height: 24px;
}

.row-item{
  display: flex;
  align-items: center;
  width: 150px;
  margin-top: 14px;
  padding-left: 16px;
}

h3{
  margin: 0;
  color: var(--white);
  font-size: 16px
}

.web-settings{
  margin-top: 64px;
}


/* MAIN-CONTENT */

.main-content{
  width: 100%;
}

.header{
  background-color: var(--white);
}

.row-1,
.row-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 10px 40px;
}

.row-1 div{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.greetings{
  margin-right: auto;
}

.input-text-bar{
  border: none;
  background-color: var(--gray);
  border-radius: 20px;
  width: 400px;
  padding: 5px;
}

.profile-pic-big,
.profile-pic-small{
  border-radius: 50%;
}

.profile-pic-small{
  height: 50px;
  width: 50px;
}

.profile-pic-big{
  height: 60px;
  width: 60px;
}

.m-12{
  margin-right: 16px;
}

.m-20{
  margin-right: 20px;
}

.greetings p{
  margin: 0;
}

.small-text{
  font-size: 16px;
  font-weight: bold;
}

.big-text{
  font-size: 20px;
}

.bold{
  font-weight: bold;
}

.row-2 button{
  background-color: var(--blue2);
  border: none;
  border-radius: 20px;
  width: 80px;
  padding: 10px;
  color: var(--white2);
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}


/* FEED */
.feed{
  display: flex;
  padding: 24px 20px 32px 20px;
  gap: 20px;
}

.grid{
  flex: 2;
}

/* .extras{
  flex: 1;
} */

.grid-item{
  /* width: 350px; */
  height: 200px;
  background-color: var(--white);
  border-left: 6px solid var(--yellow);
  border-radius: 8px;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details{
  margin-bottom: auto;
}

.main-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid .title,
.extras .title{
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;

}

.grid-item{
  box-sizing:border-box;
}

.card-title,
.card-description{
  margin: 0;  
  width: 270px;
}

.card-title{  
  font-weight: bold;
  margin-bottom: 4px;
}

.card-description{
  font-size: 14px;
  color: var(--gray2);
}

.card-helpers{
  display: flex;
  justify-content: flex-end;
}

.announcements{
  margin-bottom: 28px;
  width: 300px;
}

.single-announcement p{
  margin: 0;
  width: 270px;
}

.announcement-title{
  font-weight: bold;
}

.announcements{
  background-color: var(--white);
  padding: 30px 20px 30px 20px;
  border: none;
  border-radius: 8px;
}

.trending{
  background-color: var(--white);
  padding: 30px 20px 10px 20px;
  border: none;
  border-radius: 8px;
  width: 300px;
}

.single-trending{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.single-trending-info p{
  margin: 0;
}

