@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root{
  --blue: #2563eb;
  --blue2: #3b82f6;
  --gray: #d1d5db;
  --gray2: #6b7280;
  --white: #f3f4f6;
  --white2: #fafaf9;
  --yellow: #eab308;
  --black: #09090b;
}

body{
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--gray);
}

/*SIDE-BAR*/

.side-bar{
  padding: 10px 70px 0px 16px;
  background-color: var(--blue2);
}

.logo-row{
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.color{
  filter: brightness(0) invert(1);
}

h1{
  margin: 0;
  color: var(--white); 
  font-size: 24px;
}

.m-28{
  margin-right: 28px;
}

.icon{
  width: 24px;
  height: 24px;
}

.row-item{
  display: flex;
  align-items: center;
  width: 150px;
  margin-top: 14px;
  padding-left: 16px;
}

h3{
  margin: 0;
  color: var(--white);
  font-size: 16px
}

.web-settings{
  margin-top: 64px;
}


/* MAIN-CONTENT */

.main-content{
  width: 100%;
}

.header{
  background-color: var(--white);
}

.row-1,
.row-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 20px;
}

.row-1 div{
  display: flex;
  align-items: center;
}

.greetings{
  margin-right: auto;
}

.input-text-bar{
  border: none;
  background-color: var(--gray);
  border-radius: 20px;
  width: 400px;
  padding: 5px;
}

.profile-pic-big,
.profile-pic-small{
  border-radius: 50%;
}

.profile-pic-small{
  height: 50px;
  width: 50px;
}

.profile-pic-big{
  height: 60px;
  width: 60px;
}

.m-12{
  margin-right: 16px;
}

.m-20{
  margin-right: 20px;
}

.greetings p{
  margin: 0;
}

.small-text{
  font-size: 16px;
  font-weight: bold;
}

.big-text{
  font-size: 20px;
}

.bold{
  font-weight: bold;
}

.row-2 button{
  background-color: var(--blue2);
  border: none;
  border-radius: 20px;
  width: 80px;
  padding: 10px;
  color: var(--white2);
  margin-right: 20px;
}